@import "vars.module.scss";


.episodesHomeRoot {
	@include fullscreen-container;
	overflow: auto;
	padding: 0 $app-side-padding;
	background-color: $bg-light;
	display: flex;
	flex-wrap: wrap;
}

.searchContainer {
	width: 100%;
	margin-top: $navbar-margin;
}

.episodeDetailsContainer {
	width: 100%;
}

//!
.episodeIdPageRoot {
	@include vertical-flex;
	justify-content: center;
	width: 100%;
	padding: 2rem;
}

.episodeDetailText {
	width: 100%;
}

.characterCardsContainer {
	margin-top: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 1rem;
}

@media (min-width: $bp-lg){
	.episodesHomeRoot {
		@include horizontal-flex;
	}
	.searchContainer {
		width: 30%;
		padding-top: 3rem;
	}
	.episodeDetailsContainer {
		margin-top: $navbar-margin;
		width: 70%;
	}
}