@import "vars.module.scss";

.homeRoot {
	width: 100%;
}

.fullScreenContainer {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-wrap: nowrap;
	> section {
		width: calc(100% / 3);
		display: flex;
		padding: 2rem;
		font-size: 4rem;
		align-items: center;
	}
	& section:first-child {
		background-color: #a7cb54;
	}
	& section:nth-child(2) {
		background-color: #5cad4a;
	}
	& section:last-child {
		background-color: #208d45;
	}
}

.cardsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	padding: 1rem;

	& > p {
		width: 100%;
		text-align: center;
		margin-top: 1rem;
	}
}

@media (max-width: $bp-md) {
	.fullScreenContainer {
		flex-wrap: wrap;
		flex-direction: column;
		> section {
			width: 100%;
			height: calc(100vh / 3);
		}
	}
}
