@import "vars.module.scss";

.homeRoot {
	@include fullscreen-container;
}

.homeContainer {
	@include vertical-flex;
	@include fullscreen-container;
	overflow: hidden;

	> section {
		width: 100%;
		height: calc(100vh / 3);

		display: flex;
		padding: 2rem;
		align-items: center;
		> a {
			font-size: 2rem;
			text-transform: uppercase;
			&:hover {
				transition: all 0.5s;
				text-shadow: 0 0 3px rgba(255, 255, 255, 0.5),
					0 0 6px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5);
			}
		}
	}
	& section:first-child {
		background-color: $bg-light;
	}
	& section:nth-child(2) {
		background-color: $bg-medium;
	}
	& section:last-child {
		background-color: $bg-dark;
	}
}

//!
.cardsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	padding: 1rem;

	& > p {
		width: 100%;
		text-align: center;
		margin-top: 1rem;
	}
}

@media (min-width: $bp-lg){
	.homeContainer {
		@include horizontal-flex;
		> section {
			width: calc(100% / 3);
			min-height: 100vh;
			> a {
				font-size: 3.5rem;
			}
		}
	}
}
