.homeRoot {
	width: 100%;
	padding: 1rem 2rem;
}

.fullScreenContainer {
	width: 100%;
	min-height: 100vh;

	& > h1 {
		text-align: center;
		letter-spacing: 3px;
	}
}

.cardsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	padding: 1rem;

	& > p {
		width: 100%;
		text-align: center;
		margin-top: 1rem;
	}
}
