@import "./Vars.module.scss";

.locationsHomeRoot {
	padding: 5rem;
	width: 100%;
	min-height: 100vh;
	background-color: $bg-dark;
}

.characterIdPageRoot {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem;
}
