@import "./Vars.module.scss";

.searchBarRoot {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;

	& > h1 {
		width: 100%;
		letter-spacing: 4px;
		text-transform: uppercase;
		margin-bottom: 0;
	}
}

.searchBarForm {
	height: 4rem;
	width: 100%;
	padding: 10px 0;
	display: flex;
	justify-content: flex-start;

	& > input {
		height: 2rem;
		width: 80%;
		border: 1px solid #fff;
		border-radius: $br 0 0 $br;
		padding: 0 10px;
	}
}

.statusText {
	text-align: center;
}

.searchResultsRoot {
	display: flex;
	padding: 1rem;
}
