// breakpoints
$bp-xxs: 364px;
$bp-xs: 474px;
$bp-sm: 639px;
$bp-md: 767px;
$bp-lg: 1023px;
$bp-xl: 1279px;
$bp-xxl: 1535px;

// background colours
$bg-light: #a7cb54;
$bg-medium: #5cad4a;
$bg-dark: #208d45;

// margins & paddings
$navbar-margin: 5rem;
$app-side-padding: 5%;

// border radius
$br: 2px;

// mixins
// flex
@mixin vertical-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@mixin horizontal-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
// container
@mixin fullscreen-container {
  width: 100%;
  min-height: 100vh;
}